/* Code tidied up by ScrapBook */
@font-face {
  font-family: "hs-icons";
  font-style: normal;
  font-weight: normal;
  src: url("hs-icons.ttf") format("truetype"), url("hs-icons.woff") format("woff"), url("hs-icons.svg") format("svg");
}
.hs-icon { font-family: "hs-icons" !important; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }
.hs-icon-arrow-bottom::before { content: ""; }
.hs-icon-arrow-left::before { content: ""; }
.hs-icon-arrow-right::before { content: ""; }
.hs-icon-arrow-top::before { content: ""; }
.hs-icon-close::before { content: ""; }
.hs-icon-hamburger-2::before { content: ""; }
.hs-icon-hamburger::before { content: ""; }
.hs-icon-lula-kebab-h::before { content: ""; }
.hs-icon-lula-kebab-v::before { content: ""; }
.hs-icon-magnifier::before { content: ""; }
.hs-icon-music::before { content: ""; }
.hs-icon-photo::before { content: ""; }
.hs-icon-play::before { content: ""; }
.hs-icon-plus::before { content: ""; }
.hs-icon-unzoom::before { content: ""; }
.hs-icon-video::before { content: ""; }
.hs-icon-zoom::before { content: ""; }
